
.card{
    width: 200px;
    aspect-ratio: 1;
    background: rgb(14,225,254);
    background: linear-gradient(225deg, rgba(14,225,254,1) 0%, rgba(245,13,255,1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* gap: 0.25rem; */
    border-radius: 1rem;
    -webkit-box-shadow: 0px 0px 73px -35px rgba(227,26,255,1);
    -moz-box-shadow: 0px 0px 73px -35px rgba(227,26,255,1);
    box-shadow: 0px 0px 73px -35px rgba(227,26,255,1);
    font-weight: 700;
}
.cardValue{
    font-size: 5rem;
    line-height: 1;
}
.cardText{
    color: #a7b1e0;
    font-size: 2rem;
}