.App{
  width: 100vw;
  height: 100vh;
  background: rgb(141,236,253);
  background: linear-gradient(225deg, rgba(141,236,253,1) 0%, rgba(190,124,253,1) 100%);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  color: white;
}

h1{
  font-size: 4rem;
}
h1 span{
  color: #ac07fe;
}

input, button{
  border: 1px solid white;
  border-radius: 4px;
  padding: 0.5rem;
  background-color: inherit;
  color: white;
  cursor: pointer;
  transition: 250ms all;
}
button:hover{
  color: #ac07fe;
  border-color: #ac07fe;
}

.cardsSection{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}